body {
    width:100%;
}

.table-fullWidth {
    width:80%;
    border: 0px;
    margin-left: 10%;
}

.fifty-col {
    width:50%;
}

.twnfiv-col {
    width:25%;   
}

.loginLink-col {
    width:50%;
    text-align: right;
}

.BPhoto {
    width:100%;
    align-content: center;
}

button {
    height:40px;
    width: 90%;
    font-size: 16px;
}

button:hover {
    background: blue;
}
