<!-- This page is for a form to view and add Delivery information -->
<div id="deliveryContainer">
    <div id="addDeliveryForm">
        <div id="addDeliveryName">
            <input type="text" id="delivererName" placeholder="Deliverer" />
        </div>
        <div id="addDeliveryPhone">
            <input type="text" id="delivererPhone"  placeholder="Phone Num" />
        </div>
        <div id="selectGiftforDelivery">
            Gift Info:
            <!-- this should be a drop-down (basically use a select and option list) -->
        </div>
    </div>

</div>