<!-- This is the main form for the person wanting to choose to give a gift -->
<div id="mainFormContainer">
    <div id="simpleInstructions">
    
    </div>
    <div id="giverInfo">
        <div id="giverName">
            <input type="text" id="lastName" required maxlength="30" placeholder="Last Name" />
            <input type="text" id="firstName" required maxlength="30" placeholder="First name" />
        </div>
        <div id="giverEmail">
            <input type="email" id="eMail" placeholder="email@somedomain.com" />
        </div>
        <div id="giverPhones">
            <input type="text" id="homePhone" maxlength="13" placeholder="Home PHone" />
            <input type="text" id="cellPhone" maxlength="13" placeholder="Cell Phone" />
        </div>
        <div id="giverAddress">
            <input type="text" id="streetAddress" placeholder="Street Address" />
            <input type="text" id="aptNo" placeholder="Apt No" />
        </div>
        <div id="giverAddress2">
            City, State  Zip:<br />
            <input type="text" id="city" placeholder="City" />
            <input type="text" id="state" maxlength="2" placeholder="ST" />
            <input type="text" id="postal" maxlength="10" placeholder="Zip" />
        </div>
        <div id="giverAnonymous">
            <input type="checkbox" id="wishesAnon" />
            I wish to remain anonymous:
        </div>
    </div>

</div>