<div id="mainForm">
    <div id="RecipientNameSection">
        <div id="RecipLName">
            <input type="text" id="RLName" maxlength="30" placeholder="Last Name" />
            <input type="text" id="RFName" maxlength="30" placeholder="First Name" />
        </div>
        <div id="RecipGender">
            Gender:
            <select id="gender">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
        </div>
        <div id="RecipPhones">
            <input type="text" id="homePhone" maxlength="13" placeholder="Home Phone" />
            <input type="text" id="cellPhone" maxlength="13" placeholder="Cell Phone" />
        </div>
        <div id="RecipRouteNo">
            <input type="text" id="routeNo" maxlength="10" placeholder="Route No" />
        </div>
    </div>
</div>
