<!-- This form allows the additiona of new users -->
<div id="addUserContainer">
    <div id="userName">
        <input type="text" id="userLastName" maxlength="30" placeholder="Last Name" />
        <input type="text" id="userFirstname" maxlength="30" placeholder="First Name" />
    </div>
    <div id="userCompany">

        <input type="text" id="userCompany" maxlength="50" placeholder="Company" />
    </div>
    <div id="userName">
        <input type="text" id="username" maxlength="100" placeholder="username" />
        <input type="password" id="password" maxlength="128" placeholder="password" />
    </div>
    <div id="userEmail">
        <input type="email" id="email" maxlength="150" placeholder="email@somedomain.com" />
    </div>
    <div id="userGroup">
        <!-- this space will be a select box to choose a user's group -->
    </div>

</div>