<!-- This is to edit a person wanting to give a gift -->
<div id="mainFormContainer">
    <div id="giverInfo">
        <div id="giverName">
            <input type="text" id="lastName" maxlength="30" placeholder="Last Name" />
            <input type="text" id="firstName" maxlength="30" placeholder="First Name" />
        </div>
        <div id="giverEmail">
            <input type="email" id="eMail" placeholder="email"/>
        </div>
        <div id="giverPhones">
            <input type="text" id="homePhone" maxlength="13" placeholder="Home Phone"/>
            <input type="text" id="cellPhone" maxlength="13" placeholder="Cell Phone" />
        </div>
        <div id="giverStreetAddress">
            <input type="text" id="streetAddress" maxlength="50" placeholder="Street" />
            <input type="text" id="aptNo" maxlength="10" placeholder="Apt" />
        </div>
        <div id="giverAddress2">
            City, State  Zip:<br />
            <input type="text" id="city" maxlength="50" placeholder="City" />
            <input type="text" id="state" maxlength="2" placeholder-"ST" />
            <input type="text" id="postal" maxlength="10" placeholder="Zip" />
        </div>
        <div id="giverAnonymous">
            <input type="checkbox" id="wishesAnon" />
            Anonymous
        </div>
    </div>
    <div id="giverList">
        <!-- this will hold a grid of givers and their selected gifts -->
    </div>
    <div id="actions">
        <button id="cancelAction">Cancel</button>
        <button id="saveAction">Save</button>
    </div>

</div>