<!-- this form allows a user to edit Delivery Info -->
<div id="editDelivery">
    <div id="DelivererInfo">
        <input type="text" id="delivererName" maxlength="50" placeholder="Deliverer" />
        <input type="text" id="delivererPhone" maxlength="13" placeholder="Phone" />
    </div>
    <div id="DeliveryInfoList">
        <!-- this area will hold a grid of all deliveries -->
    </div>
    <div id="actions">
        <button id="cancelAction">Cancel</button>
        <button id="saveAction">Save</button>
    </div>
</div>