<div class="row">
    <table class="table-fullWidth">
        <tr id="SelectionPage">
            <td class="fifty-col">
                logo
            </td>
            <td class="loginLink-col">
                Login
            </td>
        </tr>
    </table>

    <table class="table-fullWidth">
        <tr>
            <td class="BPhoto">
                BPhoto
            </td>
        </tr>
    </table>

    <div id="Description">
        <table id="ProjDescription" class="table-fullWidth">
            <tr>
                <td id="Description1" class="fifty-col">
                    Description of the Project
                </td>
                <td id="Description2" class="fifty-col">
                    Description of the Project
                </td>
            </tr>
        </table>
    </div>


    <div id="Steps">
        <table id="StepInst" class="table-fullWidth">
            <tr>
                <td id="StepsCol">
                    Step by step Instructions
                </td>
            </tr>
        </table>
    </div>

    <!-- REMOVE THIS AFTER TESTING THE SERVICE! -->
    <div><span>DATA: </span></div>
    <div ng-repeat="user in Users">
        <span>{{user.first_name}}</span>
    </div>

    <span>PROPERTY: {{MyProperty}}</span>

    <div id="twoPanelInfoSection">
        <table id="twoPanel" class="table-fullWidth">
            <tr>
                <td id="Information" class="fifty-col">
                    Information
                </td>

                <td id="Instructions" class="fifty-col">
                    Instructions
                </td>
            </tr>
        </table>
    </div>
</div>
