<div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div> <!-- /.starter-template -->

<div class="row">

    <!-- Show a carousel of images -->
    <div my-carousel datasource="Images"></div>

    <!-- Show a list of users -->
    <div user-row datasource="Users"></div>

    <div id="twoPanelInfoSection">
        <table id="twoPanel" class="table-fullWidth">
            <tr>
                <td id="Information" class="fifty-col">
                    Information
                </td>

                <td id="Instructions" class="fifty-col">
                    Instructions
                </td>
            </tr>
        </table>
    </div>
</div><!-- /.row -->
